services:
  db:
    image: postgres:14-alpine
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "6543:5432"

  backend:
    build: .
    env_file:
      - .env
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      # This overrides the value in the .env file to ensure the backend
      # can connect to the db service within the Docker network.
      - POSTGRES_SERVER=db
    depends_on:
      - db
    command: ["python", "-m", "bot_main"]

  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  postgres_data:
